#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Home component */
.home-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  margin: 0.5rem 0;
  text-align: center;
}

/* Nav Component  */
.navbar button {
  margin-right: 20px;
  padding: 1rem 2rem;
  color: white;
  background-color: #3d4376;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar button:hover {
  background-color: #332a6a;
  transform: translateY(-2px);
}


/* All Forms  */
form {
  padding: 1.5rem;
  border-radius: 8px;
  display: inline-block;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

div {
  margin-bottom: 1.25rem;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  text-align: left;
}

form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #537030;
}

/* Reservation cards  */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.reservation-card {
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #444849;
  text-align: center;
  transition: transform 0.3s ease;
}

.reservation-card:hover {
  transform: translateY(-5px);
}

.reservation-card h3 {
  margin: 0;
  font-size: 1.25rem;
}

.reservation-card p {
  margin: 10px 0;
  font-size: 1rem;  
}

.reservation-card strong {
  font-weight: bold;
}