# Ignore Visual Studio-specific files
.vs/
*.vsidx
*.slnx.sqlite
VSWorkspaceState.json

# Ignore build and debug files
bin/
obj/
*.csproj.user
*.suo
*.user
*.sln.docstates

# Ignore static web assets
*.staticwebassets.endpoints.json
*.sourcelink.json
staticwebassets.build.endpoints.json
staticwebassets.references.upToDateCheck.txt
staticwebassets.removed.txt